body 
{
    background: #E8D5D5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card 
{
    position: static;
    background-color: rgb(54, 49, 49);
    height: 500px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1.25rem;
    margin-left: 0px;
    width: 19.5rem;
    margin-left: -20px;
    color: white;
}

:root 
{
    --mainColor: #ffc0cb;
}

a 
{
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: rgb(192, 242, 255);
    text-decoration: none;
}
      
a:hover 
{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23549996' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    color: pink;
    background-repeat: repeat-x;
    text-decoration: none;
}

.card-title 
{
    color: pink;
}

.me 
{
    width: 23rem;
    margin-left: -1.0rem;
    align-self: center;
    margin-top: -0.5rem;
}

img.me {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.me {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


/* Media Query para la versión de escritorio */
    
@media (min-width: 800px) {
    .me {
      margin-left: -35rem;
      width: 36rem;    
      
    }

  }

  @media (min-width: 800px) {
    .card {
      margin-left: 46.5rem;
      margin-top: -34rem;
      width: 25rem;
      height: 30rem;
    }

  }

  @media (min-width: 800px) {
    #typed, #typed-strings, .typed-cursor {
      margin-left: -39rem;
      margin-top: -1.5rem;
      font-size: 1.5rem;
    }

  }